<div>
	<h3>About project</h3>
	<p>
	The purpose of this project is the organization of interactive promotions online for attraction new customers, and for effective and rapid promotion brand or service.
	The main our task will be to promote a more interactive and interesting form of advertising that will establish closer relations between businesses and consumers.
	Also, the system can be used for non-commercial purposes.
	</p>
	<p>
	<h4>Some things that you can do:</h4>
	<ul>
		<li>Registration</li>
		<li>Check users profiles</li>
		<li>Create quest</li>
		<li>Edit quest</li>
		<li>Monitoring quest status and progress</li>
		<li>Deleting quest</li>
		<li>Make promotio of your services</li>
		<li>Get new customers</li>
		<li>Have fun and make new friends!</li>
	</ul>
	</p>
</div>