<div>
	<h3>Contact us!</h3>
	<p>You can contact us with free. If you have some proposition for improving our project, please dont hesitate writing us!</p>
	<div ng-show="isDataSaved">Thank you for your feedback! See you next time!</div>
	<form novalidate ng-submit="submitForm()">
		<fieldset>
			<div ng-hide="isDataSaved">
				<div class="control-group">
					<input type="text" placeholder="Your name" ng-model="form.name">
				</div>
				<div class="control-group">
					<input type="text" placeholder="Your email" ng-model="form.email">
				</div>
				<div class="control-group">
					<textarea rows="3" ng-model="form.question">Type your question</textarea>
				</div>
				<div class="control-group">
					<button class="btn" type="submit">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>