<form novalidate ng-submit="submitForm()">
	<fieldset>
		<h4>Feedback form.</h4>
		<div class="control-group">
			<input type="text" placeholder="Your name" ng-model="form.name">
		</div>
		<div class="control-group">
			<input type="text" placeholder="Your email" ng-model="form.email">
		</div>
		<div class="control-group">
			<textarea rows="3" ng-model="form.question">Type your question</textarea>
		</div>
		<div class="control-group">
			<button class="btn" type="submit" ngClick="Submit">Submit</button>
		</div>
	</fieldset>
	{{form}}
</form>