<div>
	<h3>Edit profile</h3>
	<div class="span1" style="text-align:center;">
		<div>
			<img src="{{img}}">
		</div>
		<h6>change</h6>
	</div>
	<div class="span6">
		<ul class="custom-li">
			<li>
				<div class="control-group">
					<label>User name:</label>
					<input type="text" name="userName" value="admin">
				</div>
			</li>
			<li>
				<div class="control-group">
					<label>Email:</label>
					<input type="text" name="userName" value="{{userEmail}}">
				</div>
			</li>
			<li>
				<div class="control-group">
					<label>My birthday:</label>
					<input class="input-small" type="text" name="userName" value="22/03/1993">
				</div>
			</li>
			<li>
				<div class="control-group">
					<label>About me:</label>
					<textarea class="input-xxlarge" row="5">User not provide any information</textarea>
				</div>
			</li>
		</ul>
	</div>
	<div class="span9" style="margin:10px 0 0 0;">
		<div class="alert alert-success">
			<strong><a style="color:white;" href="/profile">Go back</a></b>
		</div>
	</div>
</div>