<h3>My quest</h3>
<div class="row-fluid">
  <div class="span2">
  	<div class="block">
	  	<div>
	  		<h4>Filter By</h4>
	  		<form>
				<div class="control-group">
					<label>Difficulty</label>
					<select class="input-small">
						<option>Select</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
				</div>
				<div class="control-group">
					<label>Points number</label>
					<select class="input-small">
						<option>Select</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
					</select>
				</div>
	  		</form>
	  	</div>
  	</div>
  </div>
  	<div class="span10">
  		<div class="header-bar">
  			<h4 class="custom-h4">List</h4>
  		</div>
  		<!--  -->
		<div class="card people">
		   <div class="card-top green">
		      <a href="#">
		         <img src="../content/quest/1.jpg" alt=""/>
		      </a>
		   </div>
		   <div class="card-info">
		      <a class="title" href="#">Historical quest</a>
		      <div class="desc">
		      	<h6 class="custom-h6"><b>Start:</b> 22/03/2016</h6>
		      	<h6 class="custom-h6"><b>Participants:</b> 20</h6>
		      	<h6 class="custom-h6"><b>Quest Type:</b> commerce</h6>
		      </div>
		   </div>
		   <div class="card-bottom">
		      <button class="btn btn-block">Edit</button>
		   </div>
		</div>
		<!--  -->
  		<!--  -->
		<div class="card people">
		   <div class="card-top green">
		      <a href="#">
		         <img src="../content/quest/2.jpg" alt=""/>
		      </a>
		   </div>
		   <div class="card-info">
		      <a class="title" href="#">Coffee-In</a>
		      <div class="desc">
		      	<h6 class="custom-h6"><b>Start:</b> 22/03/2016</h6>
		      	<h6 class="custom-h6"><b>Participants:</b> 10</h6>
		      	<h6 class="custom-h6"><b>Quest Type:</b> commerce</h6>
		      </div>
		   </div>
		   <div class="card-bottom">
		      <button class="btn btn-block">Edit</button>
		   </div>
		</div>
		<!--  -->
  		<!--  -->
		<div class="card people">
		   <div class="card-top green">
		      <a href="#">
		         <img src="../content/quest/3.jpg" alt=""/>
		      </a>
		   </div>
		   <div class="card-info">
		      <a class="title" href="#">Cumpel quest</a>
		      <div class="desc">
		      	<h6 class="custom-h6"><b>Start:</b> 22/04/2016</h6>
		      	<h6 class="custom-h6"><b>Participants:</b> 12</h6>
		      	<h6 class="custom-h6"><b>Quest Type:</b> non-commerce</h6>
		      </div>
		   </div>
		   <div class="card-bottom">
		      <button class="btn btn-block">Edit</button>
		   </div>
		</div>
		<!--  -->
  	</div>
</div>