<div>
	<h3>My profile</h3>
	<div class="span1">
		<div>
			<img src="{{img}}">
		</div>
	</div>
	<div class="span6">
		<ul class="custom-li">
			<li><b>User name:</b> admin</li>
			<li><b>Email:</b> {{userEmail}}</li>
			<li><b>My birthday:</b> 22/03/1993</li>
			<li><b>About me:</b> User not provide any information</li>
		</ul>
	</div>
	<div class="span9" style="margin:10px 0 0 0;">
		<div class="alert alert-success">
			<strong>Hi!</strong> Edit your profile using this <b><a style="color:white;" href="/edit-profile">Link</a></b>
		</div>
	</div>
</div>